<div class="commentContainer" *ngIf="!editing">
    <div><span class="commentOwner">{{comment.owner}}:</span>
        <div class="commentBody" [innerText]="comment.body"></div>
    </div>
    <div class="commentDate">{{commentDate}}</div>
    <button class="editBtn" mat-icon-button mat-raised-button *ngIf="owned" (click)="onEditClicked($event)">
        <mat-icon class="icon">edit</mat-icon>
    </button>
</div>
<app-edit-comment *ngIf="editing" [comment]="comment" [commentService]="commentService" (updated)="onCommentUpdated($event)" (cancelled)="onCommentUpdateCancel($event)"></app-edit-comment>