app-tutorial-card
    margin: 20px
    max-height: 458px

.tutorial-card-container
    position: relative
    display: block

::-webkit-scrollbar-track
    background-color: #4b4b4b99

::-webkit-scrollbar
    width: 12px
    background-color: #4b4b4b99

::-webkit-scrollbar-thumb
    background-color: #7b1fa233

.loading-spinner
    position: absolute
    top: 30%
    left: 50%

.tutorial-row-container
    height: 100%
    width: 100%
    overflow-y: scroll
    display: block
.tutorial-row-container-padding
    padding-bottom: 50px
    margin-bottom: 0px
    padding-right: 20px

.tutorial-row
    display: block
    width: 100%
    padding-bottom: 0px
    margin-bottom: 5px
    overflow-x: scroll
    h3
        padding-left: 25px
        font-size: 20px
        margin-bottom: 0px