<div class="tutorial-row-container">
    <div class="tutorial-row-container-padding">
        <div class="tutorial-row" *ngFor="let typeKey of tutorialTypes">
            <h3>{{typeKey}}</h3>
            <div class="tutorial-card-container" fxLayout fxLayoutGap="5px">
                <a *ngFor="let tutorial of tutorialsByType[typeKey]"
                    [routerLink]="[ '/watch', tutorial.id, tutorial.title ]"
                    (click)="onTutorialCardClick($event, tutorial)">
                    <app-tutorial-card [tutorial]="tutorial">
                    </app-tutorial-card>
                </a>
            </div>
        </div>
    </div>
    <mat-spinner [diameter]="64" class="loading-spinner" *ngIf="loading">
    </mat-spinner>
</div>