<div class="controls">
  <div class="controlsContainer">
    <app-saving-button *ngIf="!loading" (click)="onDownloadClicked($event)" text="Download Project"
      icon="cloud_download" [saving]="downloading" savingText="Downloading..." matTooltip="Save project as zip">
    </app-saving-button>
  </div>
  <!-- <div class="controlsContainer">
    <app-saving-button *ngIf="!loading" (click)="onPublishToExampleClicked($event)" text="Publish as Example"
      icon="open_in_browser" [saving]="false" savingText="">
    </app-saving-button>
  </div> -->
  <mat-spinner color="accent" [diameter]="44" class="loading-spinner" *ngIf="loading">
  </mat-spinner>
</div>
<div fxLayout fxLayoutGap="5px" class="tutorialContainer">
  <div class="sideBar">
    <app-recording-file-tree id="tutorialFileExplorer" (previewClicked)="onPreviewClicked($event)">
    </app-recording-file-tree>
  </div>
  <div class="editorContainer" fxLayout fxLayoutGap="5px">
    <app-resource-viewer class="resourceViewer">
    </app-resource-viewer>
    <app-recording-editor class="recordingEditor" (codeInitialized)="onCodeInitialized($event)">
    </app-recording-editor>
    <app-preview *ngIf="previewPath || loadingPreview" class="preview" (closeClicked)="onCloseClicked($event)"
      [loading]="loadingPreview" [previewPath]="previewPath" [previewBaseUrl]="previewBaseUrl">
    </app-preview>
  </div>
</div>