.sideBar
  max-width: 479px
  width: 479px
  overflow: hidden
  padding-right: 1px

.tutorialVideo
  width: 480px
  height: 300px
  overflow: hidden

.codeEditor
  display: flex
  flex: 1
  height: 99%
  .editor-container
    height: 99%

.tutorialContainer
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  justify-content: flex-start
  align-items: stretch
  align-content: stretch
  overflow: hidden
  height: 100%

.editorContainer
  width: 100%
  height: 100%

.editorContainerTitle
  height: 26px
  line-height: 26px
  color: #c4c4c4
  font-size: 13px
  margin-top: 3px
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

  span
    background-color: #3f3f3f
    padding: 5px
    padding-left: 25px
    padding-right: 25px
    height: 100%
    font-weight: 525

.recordingEditor
  display: 'flex'
  flex: 1

.preview
  position: absolute
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  z-index: 15

.editorContainer
  position: relative
  width: 100%
  height: 100%

.controls
  position: fixed
  top: 48px
  right: 0px
  overflow: hidden
  height: 32px
  z-index: 14

@media (max-width: 615px)
  .controls
    display: none

.controlsContainer
  position: relative
  float: left
  margin-left: 5px
  height: 32px

:host ::ng-deep app-saving-button
  height: 32px
  line-height: 32px
  .mat-menu-item
    height: 26px
    line-height: 26px
.resourceViewer
  position: absolute
  width: 100%
  height: 100%

app-preview
  pointer-events: none

#tutorialFileExplorer
  &:focus
    outline-color: #ffffff