.commentContainer
    background-color: #1e1e1e
    border-radius: 5px
    padding: 15px
    margin: 15px

.commentOwner
    color: #ffffffcc
    margin-right: 10px
    text-decoration: underline
    padding-bottom: 15px

.commentBody
    color: #ffffffcc
    white-space: pre
    padding-left: 10px
    padding-top: 5px