<div class="answerContainer" *ngIf="!editing">
    <div><span class="answerOwner">{{answer.owner}}:</span>
        <div class="answerBody" [innerText]="answer.body"></div>
    </div>
    <div class="answerDate">{{answerDate}}</div>
    <mat-divider></mat-divider>
    <div class="controls">
        <div class="rating">
            <app-rating [ratingService]="ratingService" [targetId]="answer.id" [showControls]="true"
                [score]="answer.score" *ngIf="answer">
            </app-rating>
        </div>
        <div class="comments">
            <app-comments-button (click)="onCommentsClicked($event)" matTooltip="Shows Comment Section"
                [commentService]="commentService" [targetId]="answer.id" [class.focused]="commentsFocused">
            </app-comments-button>
        </div>
        <button class="editBtn" mat-icon-button *ngIf="owned" (click)="onEditClicked($event)">
            <mat-icon class="icon">edit</mat-icon>
        </button>
    </div>
    <mat-divider></mat-divider>
</div>
<app-edit-answer *ngIf="editing" [answer]="answer" (updated)="onUpdated($event)" (cancelled)="onUpdateCancel($event)">
</app-edit-answer>