.question-card
    max-width: 300px
    cursor: pointer
    max-height: 446px
    min-height: 446px

mat-card-content
    p
        overflow: hidden
        display: -webkit-box
        -webkit-line-clamp: 3
        -webkit-box-orient: vertical
        min-height: 51px

mat-card-title
        overflow: hidden
        display: -webkit-box
        -webkit-line-clamp: 1
        -webkit-box-orient: vertical
        min-height: 12px
        max-width: 265px
        text-overflow: ellipsis
