<mat-card class="question-card">
    <mat-card-header>
        <mat-card-title [innerText]="question.title" matTooltip="{{question.title}}"></mat-card-title>
    </mat-card-header>
    <mat-card-actions>
        <span class="detail">Votes: {{question.score}}</span>
        <span class="detail">Asked By: {{question.owner}}</span>
        <span class="detail">Topic: {{question.topic}}</span>
        <span class="detail">{{createdDate}}</span>
        <span class="detail">Answers: {{question.answerCount}}</span>
    </mat-card-actions>
</mat-card>