<div class="container">
    <div class="header">
        <app-create-comment [targetId]="targetId" [commentService]="commentService" *ngIf="addingComment"
            (commentAdded)="onCommentAdded($event)"></app-create-comment>
    </div>
    <div class="commentsHeader">Comments:</div>
    <div class="comments">
        <app-comment *ngFor="let comment of comments" [comment]="comment"></app-comment>
    </div>

    <button class="closeBtn" color="secondary" mat-mini-fab (click)="onCloseClicked()">
        <mat-icon>chevron_right</mat-icon>
    </button>
    <button class="addCommentBtn" color="secondary" mat-raised-button (click)="onAddComment()" [disabled]="!loggedIn">
        <mat-icon>post_add</mat-icon>
        <span>Add Comment</span>
    </button>
</div>