<div class="container">
    <div class="relative">
        <app-saving-button *ngIf="(!recording && !saving) || loadingRecording" [disabled]="!canRecord || finishSaving"
            (click)="onRecordClicked($event)" text="Record" icon="videocam" [saving]="loadingRecording"
            matTooltip="Start recording" savingText="Loading">
        </app-saving-button>
        <app-saving-button *ngIf="(recording || saving) && !loadingRecording" id="recordingBtn" [saving]="saving"
            icon="stop" text="Recording" (click)="onStopRecordingClicked($event)" matTooltip="Stop recording">
        </app-saving-button>

    </div>
    <div class="relative">
        <app-saving-button *ngIf="canFinish && !recording" (click)="onFinishClicked()" text="Preview And Publish" icon="pageview"
            [saving]="finishSaving" matTooltip="Playback this recording">
        </app-saving-button>
    </div>
    <div class="relative">
        <app-timer *ngIf="((recording || saving) && !loadingRecording) || canFinish" id="recordingTimer"
            [running]="recording">
        </app-timer>
    </div>
</div>