<div class="question-row-container">
    <div class="container">
        <div class="question-card-container">
            <h3>Questions:</h3>
            <a *ngFor="let question of questionsByType['All']"
                [routerLink]="[ '/question', question.id, question.title, question.topic ]"
                (click)="onQuestionCardClick($event, question)" class="card">
                <app-question-card [question]="question">
                </app-question-card>
            </a>
        </div>
    </div>
    <mat-spinner [diameter]="64" class="loading-spinner" *ngIf="loading">
    </mat-spinner>
</div>