<div class="controls" *ngIf="publishMode">
  <div class="controlsContainer">
    <app-saving-button (click)="onBackClicked($event)" text="Record Again" icon="keyboard_backspace" [saving]="false"
      savingText="Loading">
    </app-saving-button>
  </div>
  <div class="controlsContainer">
    <app-saving-button (click)="onPublishClicked($event)" text="Publish" icon="publish" [saving]="publishing"
      savingText="publishing">
    </app-saving-button>
  </div>
</div>
<div class="controls" *ngIf="!publishMode">
  <div class="controlsContainer">
    <app-saving-button (click)="onDownloadClicked($event)" text="Download Project" icon="cloud_download"
      [saving]="downloading" savingText="Downloading...">
    </app-saving-button>
  </div>
  <div class="controlsContainer">
    <app-saving-button (click)="onCopyToSandboxClicked($event)" text="Edit in Sandbox" icon="move_to_inbox"
      [saving]="false" savingText="">
    </app-saving-button>
  </div>
</div>
<div fxLayout fxLayoutGap="5px" class="tutorialContainer">
  <div class="sideBar">
    <vg-player class="tutorialVideo">
      <video #video class="tutorialVideo" [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
        <source #videoSource type="video/webm">
      </video>
    </vg-player>
    <app-playback-file-tree id="tutorialFileExplorer" (previewClicked)="onPreviewClicked($event)">
    </app-playback-file-tree>
  </div>
  <div class="editorContainer" fxLayout fxLayoutGap="5px">
    <app-resource-viewer class="resourceViewer">
    </app-resource-viewer>
    <app-editor-place-holder class="placeHolder">
    </app-editor-place-holder>
    <app-playback-editor class="recordingEditor" (codeInitialized)="onCodeInitialized($event)">
    </app-playback-editor>
    <app-preview *ngIf="previewPath || loadingPreview" class="preview" (closeClicked)="onCloseClicked($event)"
      [loading]="loadingPreview" [previewPath]="previewPath" [previewBaseUrl]="previewBaseUrl">
    </app-preview>

  </div>
</div>