<div class="controls" *ngIf="publishMode">
  <div class="controlsContainer">
    <mat-spinner color="accent" [diameter]="24" class="loading-spinner" *ngIf="loadingReferences > 0">
    </mat-spinner>
  </div>
  <div class="controlsContainer">
    <app-saving-button (click)="onBackClicked($event)" text="Record Again" icon="keyboard_backspace" [saving]="false"
      matTooltip="Record again" savingText="Loading">
    </app-saving-button>
  </div>
  <div class="controlsContainer">
    <app-saving-button (click)="onPublishClicked($event)" text="Publish" icon="publish" [saving]="publishing"
      matTooltip="Publish this tutorial so others can watch it" savingText="publishing">
    </app-saving-button>
  </div>
</div>
<div class="controls" *ngIf="!publishMode">
  <div class="controlsContainer">
    <mat-spinner color="accent" [diameter]="24" class="loading-spinner" *ngIf="loadingReferences > 0">
    </mat-spinner>
  </div>
  <div class="controlsContainer">
    <app-saving-button (click)="onDownloadClicked($event)" text="Download Project" icon="cloud_download"
      [saving]="downloading" savingText="Downloading..." matTooltip="Save project as zip">
    </app-saving-button>
  </div>
  <div class="controlsContainer">
    <app-saving-button text="Edit in Sandbox" icon="move_to_inbox"
      [saving]="false" savingText="" matTooltip="Copies finished project to sandbox for customization" [matMenuTriggerFor]="sandboxMenu">
    </app-saving-button>
    <mat-menu #sandboxMenu="matMenu">
      <button mat-menu-item (click)="onCopyToSandboxClicked($event, true)">New Window</button>
      <button mat-menu-item (click)="onCopyToSandboxClicked($event, false)">New Tab</button>
    </mat-menu>
  </div>
  <div class="controlsContainer">
    <button id="helpBtn" mat-menu-item (click)="onShowHelp()" matTooltip="Shows help dialog">
      <mat-icon>help_outline</mat-icon>
      <span class="label">Help</span>
    </button>
  </div>
</div>
<div fxLayout fxLayoutGap="5px" class="tutorialContainer">
  <div class="sideBar">
    <vg-player class="tutorialVideo">
      <app-play-button-hint id="play-hint" *ngIf="!started"></app-play-button-hint>
      <video #video class="tutorialVideo" [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
        <source #videoSource type="video/webm">
      </video>
    </vg-player>
    <app-playback-file-tree id="tutorialFileExplorer" (previewClicked)="onPreviewClicked($event)">
    </app-playback-file-tree>
  </div>
  <div class="editorContainer" fxLayout fxLayoutGap="5px">
    <app-editor-place-holder class="placeHolder">
    </app-editor-place-holder>
    <app-resource-viewer class="resourceViewer">
    </app-resource-viewer>
    <app-playback-editor class="recordingEditor" (codeInitialized)="onCodeInitialized($event)">
    </app-playback-editor>
    <app-preview class="preview" (closeClicked)="onCloseClicked($event)">
    </app-preview>
  </div>
</div>
<app-playback-mouse></app-playback-mouse>