<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title [innerText]="example.title" matTooltip="{{example.title}}"></mat-card-title>
        <mat-card-subtitle [innerText]="subTitle"></mat-card-subtitle>
    </mat-card-header>
    <img class="thumbnail" mat-card-image [src]="example.thumbnailUrl" alt="Placeholder Image">
    <span class="created">{{createdDate}}</span>
    <span class="score">Votes: {{example.score}}</span>
    <span class="comments">Comments: {{example.commentCount}}</span>
    <mat-card-content>
        <p [innerText]="example.description" matTooltip="{{example.description}}">
        </p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>