.question-card
    max-width: 300px
    cursor: pointer
    max-height: 306px
    min-height: 306px

mat-card-content
    p
        overflow: hidden
        display: -webkit-box
        -webkit-line-clamp: 1
        -webkit-box-orient: vertical
        min-height: 12px
        max-width: 266px
        text-overflow: ellipsis

mat-card-title
        overflow: hidden
        display: -webkit-box
        -webkit-line-clamp: 1
        -webkit-box-orient: vertical
        min-height: 12px
        max-width: 235px
        text-overflow: ellipsis
