.tutorial-card
    max-width: 300px
    margin: 10px
    cursor: pointer
    float: left

mat-card-content
    p
        overflow: hidden
        display: -webkit-box
        -webkit-line-clamp: 5
        -webkit-box-orient: vertical