<mat-card class="tutorial-card">
    <mat-card-header>
        <mat-card-title [innerText]="tutorial.title" matTooltip="{{tutorial.title}}"></mat-card-title>
        <mat-card-subtitle [innerText]="tutorialSubTitle"></mat-card-subtitle>
    </mat-card-header>
    <img class="thumbnail" mat-card-image [src]="tutorial.thumbnailUrl" alt="Placeholder Image">
    <span class="duration">{{tutorialDuration}}</span>
    <span class="created">{{tutorialCreatedDate}}</span>
    <span class="score">Votes: {{tutorial.score}}</span>
    <mat-card-content>
        <p [innerText]="tutorial.description" matTooltip="{{tutorial.description}}">
        </p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>