.tutorial-card
    max-width: 300px
    cursor: pointer

mat-card-content
    p
        overflow: hidden
        display: -webkit-box
        -webkit-line-clamp: 3
        -webkit-box-orient: vertical
        min-height: 51px