<app-recording-controls class="controls" (recordingStateChanged)="onRecordingStateChanged($event)"
    [canRecord]="canRecord" [saving]="saving" [finishSaving]="finishRecording" [canFinish]="hasRecorded && !saving"
    (finishClicked)="onFinishClicked($event)" [loadingRecording]="loadingRecording">
</app-recording-controls>
<div fxLayout fxLayoutGap="5px" class="tutorialContainer">
    <div class="sideBar">
        <app-web-cam class="tutorialVideo" (streamInitialized)="onStreamInitialized($event)"
            (streamError)="onStreamError($event)"></app-web-cam>
        <app-recording-file-tree id="tutorialFileExplorer" (previewClicked)="onPreviewClicked($event)">
        </app-recording-file-tree>
    </div>
    <div class="editorContainer" fxLayout fxLayoutGap="5px">
        <app-recording-editor class="recordingEditor" (codeInitialized)="onCodeInitialized($event)">
        </app-recording-editor>
        <app-preview *ngIf="previewPath" class="preview" (closeClicked)="onCloseClicked($event)"
            [previewPath]="previewPath" [previewBaseUrl]="previewBaseUrl">
        </app-preview>
    </div>
</div>