<div class="tutorialFileTreeContainer">
    <div class="treeHeader">
        <span>Files</span>
        <button mat-icon-button class="headerBtn" [disabled]="fileSelected == null" (click)="onPreviewHeaderButtonClicked($event)" matTooltip="Preview">
            <mat-icon class="icon">visibility</mat-icon>
        </button>
    </div>
    <tree id="tutorialFileTree" class='tutorialFileTree' [tree]="tree" [settings]="settings"
        (nodeSelected)="nodeSelected($event)" (menuItemSelected)="onMenuItemSelected($event)">
    </tree>
</div>