@import "~@angular/material/prebuilt-themes/purple-green.css"

html
    height: 100%

body
    margin: 0
    height: 100%
    .fa
        color: white
        margin-right: 5px

.node-name
    color: #c4c4c4

.tutorialFileTreeContainer
    position: relative
    background-color: #1e1e1e
    margin-left: 2px
    padding: 1px
    margin-top: 5px
    margin-bottom: 5px
    height: 100%

.treeHeader
    background-color: #303030
    box-shadow: 0px 1px 1px #000000
    padding: 3px
    padding-left: 8px
    font-size: 15px
    color: #cccccc
    font-weight: bold
    letter-spacing: .8px
    border-style: solid
    border-width: 1px
    border-color: #111111

tree-internal
    .tree
        .node-value
            padding: 1px
            &::after
                display: none
                height: 0px
                width: 0px
            &:hover
                background-color: #424242
                border-radius: 3px

        .node-selected
            padding: 1px
            border-radius: 3px
            background-color: #3b3b3b
            &::after
                display: none
                height: 0px
                width: 0px

mat-label
                color: rgba(255,255,255,.7)