.blog-card
    max-height: 826px

mat-card-content
    p
        overflow: hidden
        max-height: 500px
        min-height: 100px
        padding-top: 15px
        padding-left: 25px
        padding-right: 25px
        text-overflow: ellipsis